@model EP_Jewellery.Models.BrandMst
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">Edit Brand</div>
        <div class="card-body card-block">
            <form asp-action="Edit">


                <div class="form-group">
                    <div class="input-group">

                        <div class="input-group-addon">Brand_ID</div>
                        <input type="text" asp-for="Brand_ID" id="Brand_ID" name="Brand_ID" class="form-control" readonly>

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Brand_Type</div>
                        <input asp-for="Brand_Type" type="text" id="Brand_Type" name="Brand_Type" class="form-control">
                        <div class="input-group-addon">
                        </div>
                    </div>
                </div>

                <div class="form-actions form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>